
<div class="container mt-3">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Hi P161!</h1>
    <p class="lead text-center">Hi P161 is the expected text to be shown in the homepage.</p>
    <p class="text-center">This text should be deployed automatically.</p>
    <p class="text-center">This is another text.</p>
    <p class="text-center">3/4/2020 - 8:29 I've just updated the readme</p>
    <p class="text-center">3/4/2020 - 9:52 Changed the Jenkinsfile</p>
    <p class="text-center">3/4/2020 - 10:26 Fixed usage of RAILS_MASTER_KEY inside docker-compose-production.yml</p>
    <hr class="my-4">
    <p class="text-right">
      Views: <%= @total_view_count %>
    </p>
  </div>
</div>
